RUBOTY_NAME="@**Bot Name**"

ZULIP_SITE=https://zulip.example.com/
ZULIP_USERNAME=example-bo@example.com
ZULIP_API_KEY=xxx
#ZULIP_STREAM=
#ZULIP_TOPIC=

GITHUB_ACCESS_TOKEN=xxx
GITHUB_STATISTICS_REPOSITORY=example/statistics
GITHUB_STATISTICS_DIRECTORY=data

